@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}


body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  cursor: url('/arrowhead-rounded-outline (3).svg'), auto;
}

a:hover,
button:hover,
input:hover,
textarea:hover,
select:hover,
[role="button"]:hover,
.hoverable:hover,
.interactive:hover {
  cursor: url('/arrowhead-rounded-outline (2).svg'), auto;
}

html {
  scroll-behavior: smooth;
}
